{% extends 'base.html' %}
{% block title %} {% endblock %}
{% block body %}
<br>
<br>
<br>
<br>
<form method="POST" action="/reviews">
  {% csrf_token %}
  <div class="container border border-1 border-success  rounded">
      <h1 class="text-success mx-4 px-4 pt-4">Reviews</h1>
  <div class="card col-7 mx-auto m-4 border-warning border-3">
      <div class="card-header">
        Reviews about our Food and Services
      </div>
      <div class="card-body">
        <input type="text" placeholder="Please Share Your Review Here"name="review" class="form-control p-4">
        <button type="submit" class="btn btn-primary m-3">Submit Here</button>
      </div>
    </div>
  </div>
</form>

<div class="container border border-1 border-success  rounded mt-4">
<div class="card col-7 mx-auto m-4 border-primary border-3">
  <div class="card-header">
    View All Reviews
  </div>
  {% for i in ra %}
  <div class="card-body">
    <input type="text" value="{{i.review}}" class="form-control p-3">     
  </div>
  {% endfor %}  
</div>
</div>
{% endblock %}